body{
	background-color: #e3e3e3;
	direction: rtl;
}
.index-form{
	background-color: #a6a6a6;
	width: 100%;
	padding-top: 139px;
	padding-bottom: 60px;

}
.navbar a:hover{
	color: #bfb02a !important;
}
.home{
	padding-left: 30px;
	float: left;
}
.logo{
	padding-left: 30px;
	float: right;
}
input{
	margin-left: 5px;
}
.footer{
	color: #fff !important;
}
.main-container{
	padding-top: 56px;
}